{#<p>{{ hah | default('hah') }}</p>#}
{#<p>{{ 75 | float }}</p>#}
{#<p>{{ 3.14 | int }}</p>#}
{#<h1>{{ 'he min' | title }}</h1>#}
{#<p>{{ request.url }}</p>#}


{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m8 l9">
        {% for post in posts.items %}
        <div class="row">
            <div class="col s12">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ post.text | truncate(255) | safe }}
                <a href="{{ url_for('post',post_id=post.id) }}">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s12 m4 l3">
        <div class="row">
            <h5>Recent Posts</h5>
        </div>
        <ul>
            {% for post in recent %}
            <li><a href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s3">
        <div class="row">
            <h5>Popular Tags</h5>
        </div>
        <ul>
            {% for tag in top_tags %}
            <li><a href="{{ url_for('tag',tag_name=tag[0].title) }}">{{ tag[0].title }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}