<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-迈景报告系统</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>


<body class="mdui-drawer-body-left mdui-appbar-with-toolbar  mdui-theme-primary-indigo mdui-theme-accent-pink">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
              mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
        <a href="#" class="mdui-typo-headline mdui-hidden-xs">MgGene</a>
        <a href="#" class="mdui-typo-title">{% block page %}{% endblock %}</a>
        <div class="mdui-toolbar-spacer"></div>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('admin.index') }}">{{ current_user.username }}</a>
        <a href="{{ url_for('main.logout') }}">注销</a>
        {% else %}
        <a href="{{ url_for('main.login') }}">登录</a>
        <a href="{{ url_for('main.register') }}">注册</a>
        {% endif %}
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">

        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">layers</i>
                <div class="mdui-list-item-content">报告</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="{{ url_for('rep_bp.runinfo') }}" class="mdui-list-item mdui-ripple ">上机信息</a>
                <a href="{{ url_for('rep_bp.seqinfo') }}" class="mdui-list-item mdui-ripple ">报告制作</a>
                <a href="{{ url_for('rep_bp.muinfo') }}" class="mdui-list-item mdui-ripple ">结果初审</a>
                <a href="{{ url_for('rep_bp.mufinfo') }}" class="mdui-list-item mdui-ripple ">结果二审</a>
                <a href="{{ url_for('rep_bp.musinfo') }}" class="mdui-list-item mdui-ripple ">报告发送</a>
                <a href="{{ url_for('rep_bp.repinfo') }}" class="mdui-list-item mdui-ripple ">已完成报告</a>
            </div>
        </div>
    </div>
</div>
{% block content %}{% endblock %}


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>