{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block content %}
<div class="row container">
    <div class="col s12">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="input-field s6">
                {{ form.username.label }}
                {% if form.username.errors %}
                {% for e in form.username.errors %}
                <p data-error="wrong" data-success="right">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.username(class_='validate') }}
            </div>
            <div class="input-field s6">
                {{ form.password.label }}
                {% if form.password.errors %}
                {% for e in form.password.errors %}
                <p data-error="wrong" data-success="right">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.password(class_='validate') }}
            </div>
            <div class="input-field s6">
                {{ form.confirm.label }}
                {% if form.confirm.errors %}
                {% for e in form.confirm.errors %}
                <p data-error="wrong" data-success="right">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.confirm(class_='validate') }}
            </div>
            <input type="submit" class="waves-effect waves-light btn" value="注册">
        </form>
    </div>
</div>
{% endblock %}