{% extends "post.html" %}
{% block title %}主页{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block page %}结果二审{% endblock %}
{% block content %}
<div class="mdui-table-fluid">
    <table class="mdui-table mdui-table-selectable">
        <thead>
        <tr>
            <th>迈景编号</th>
            <th class="mdui-table-col-numeric">申请单号</th>
            <th class="mdui-table-col-numeric">质控</th>
            <th class="mdui-table-col-numeric">突变</th>
            <th class="mdui-table-col-numeric">肿瘤细胞占比(%)</th>
            <th class="mdui-table-col-numeric">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>MG1803950</td>
            <td>MG1866130282</td>
            <td>质控合格</td>
            <td>8个突变</td>
            <td>34%</td>
            <td>待二审</td>
        </tr>
        <tr>
            <td>MG1803950</td>
            <td>MG1866130282</td>
            <td>质控合格</td>
            <td>8个突变</td>
            <td>34%</td>
            <td>待二审</td>
        </tr>
        </tbody>
    </table>
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"><a
            href="{{ url_for('rep_bp.mufinfo') }}">上一步</a></button>
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"><a
            href="{{ url_for('rep_bp.musinfo') }}">下一步</a></button>
</div>
{% endblock %}