{% extends "post.html" %}
{% block title %}主页{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block page %}{{ sample_mg }}-突变详情{% endblock %}
{% block button %}
<a href="{{ url_for('rep_bp.musinfo') }}"><i class="mdui-icon material-icons">arrow_back</i></a>
{% endblock %}
{% block content %}
<div class="mdui-table-fluid">
    <table class="mdui-table">
        <thead>
        <tr>
            <th>位置</th>
            <th class="mdui-table-col-numeric">突变名称</th>
            <!--<th>基因</th>-->
            <th class="mdui-table-col-numeric">突变类型</th>
            <!--<th class="mdui-table-col-numeric">突变全称</th>-->
            <th class="mdui-table-col-numeric">突变频率</th>
            <th class="mdui-table-col-numeric">覆盖度</th>
            <th class="mdui-table-col-numeric">状态</th>
            <th class="mdui-table-col-numeric">备注</th>
        </tr>
        </thead>
        {% for row in report.mutation %}
        <tbody>
        <tr>
            <td>{{ row.位置 }}</td>
            <td>{{ row.突变名称 }}</td>
            <!--<td>{{ row.基因 }}</td>-->
            <td>{{ row.突变类型 }}</td>
            <!--<td>{{ row.突变全称 }}</td>-->
            <td>{{ row.突变频率 }}</td>
            <td>{{ row.覆盖度 }}</td>
            <td>{{ row.状态 }}</td>
            <td>{{ row.备注 }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}