{% extends "post.html" %}
{% block title %}主页{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="mdui-table-fluid">
    <table class="mdui-table mdui-table-selectable">
        <thead>
        <tr>
            <th>基因</th>
            <th class="mdui-table-col-numeric">突变类型</th>
            <th class="mdui-table-col-numeric">突变名称</th>
            <th class="mdui-table-col-numeric">突变频率</th>
            <th class="mdui-table-col-numeric">覆盖度</th>
            <th class="mdui-table-col-numeric">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>EGFR</td>
            <td>SNV</td>
            <td>EGFR p.(L858R) c.2573T>G</td>
            <td>6.9%</td>
            <td>58</td>
            <td>审核通过</td>
        </tr>
        <tr>
            <td>EGFR</td>
            <td>SNV</td>
            <td>EGFR p.(L858R) c.2573T>G</td>
            <td>6.9%</td>
            <td>58</td>
            <td>审核未通过</td>
        </tr>
        </tbody>
    </table>
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"><a
                        href="{{ url_for('rep_bp.runinfo') }}">通过</a></button>
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"><a
                        href="{{ url_for('rep_bp.runinfo') }}">不通过</a></button>
</div>
{% endblock %}