{% extends "post.html" %}
{% block title %}主页{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block page %}上机信息{% endblock %}
{% block button %}
<a href="{{ url_for('rep_bp.upload') }}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">add</i></a>
<a href="{{ url_for('rep_bp.up_seqinfo') }}" class="mdui-btn mdui-btn-icon"><i
        class="mdui-icon material-icons">plus_one</i></a>
{% endblock %}
{% block content %}
<div class="mdui-panel" mdui-panel>
    <div class="mdui-table-fluid">
        <table class="mdui-table">
            <thead>
            <tr>
                <th class="mdui-col-xs-4">RunName</th>
                <th class="mdui-col-xs-3"
                    mdui-tooltip="{content: '测序仪器'}">测序平台
                </th>
                <th class="mdui-col-xs-2">上机时间</th>
                <th class="mdui-col-xs-3">下机时间</th>
            </tr>
            </thead>
        </table>
    </div>
    {% for row in runinfos %}

    <div class="mdui-panel-item">
        <div class="mdui-panel-item-header">
            <div class="mdui-panel-item-title mdui-col-xs-6">{{ row.name }}</div>
            <div class="mdui-panel-item-summary mdui-col-xs-2">{{ row.platform }}</div>
            <div class="mdui-panel-item-summary mdui-col-xs-2">{{ row.start_T }}</div>
            <div class="mdui-panel-item-summary mdui-col-xs-2">{{ row.end_T }}</div>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-table-fluid">
                <form method="post">
                    <table class="mdui-table mdui-table-hoverable">
                        <thead>
                        <tr>
                            <th>
                                <!--<label class="mdui-checkbox">-->
                                <!--<input type="checkbox" class="select-all"/>-->
                                <!--<i class="mdui-checkbox-icon"></i>-->
                                <!--</label>-->
                            </th>
                            <th class="mdui-table-col-numeric">迈景编号</th>
                            <th class="mdui-table-col-numeric">申请单号</th>
                            <th class="mdui-table-col-numeric">检测项目</th>
                            <th class="mdui-table-col-numeric">性别</th>
                            <th class="mdui-table-col-numeric">标本类型</th>
                            <th class="mdui-table-col-numeric" mdui-tooltip="{content: '临床诊断或病理诊断'}">肿瘤类型</th>
                            <th class="mdui-table-col-numeric"
                                mdui-tooltip="{content: '接头.'}">
                                Barcode编号
                            </th>
                            <th class="mdui-table-col-numeric" mdui-tooltip="{content: '肿瘤细胞占比'}">肿瘤占比</th>
                            <th class="mdui-table-col-numeric">状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row_seq in seq_run(row.id) %}
                        <tr>
                            <td>
                                <label class="mdui-checkbox">
                                    <input type="checkbox" class="item" name="check" value="{{row_seq.sample_mg}}"/>
                                    <i class="mdui-checkbox-icon"></i>
                                </label>
                            </td>
                            <td>{{ row_seq.sample_name }}</td>
                            <td>{{ row_seq.sample_mg }}</td>
                            <td>{{ row_seq.item }}</td>
                            <td>{{ row_seq.sample_info.病人性别 }}</td>
                            <td>{{ row_seq.sample_info.样本类型 }}</td>
                            <td>{{ row_seq.sample_info.临床诊断 }}</td>
                            <td>{{ row_seq.barcode }}</td>
                            <td>{{ row_seq.sample_info.肿瘤细胞含量 }}</td>
                            <td>{{ status_name(row_seq.sample_mg) }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" name="report" value="报告制作">
                </form>
            </div>

        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}