{% extends "post.html" %}
{% block title %}主页{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block page %}报告制作{% endblock %}
{% block button %}
<!--<a href="{{ url_for('rep_bp.upload') }}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">add</i></a>-->

{% endblock %}
{% block content %}

<div class="mdui-table-fluid">
    <table class="mdui-table">
        <thead>
        <tr>
            <th>
                <label class="mdui-checkbox">
                    <input type="checkbox" class="select-all"/>
                    <i class="mdui-checkbox-icon"></i>
                </label>
            </th>
            <th mdui-tooltip="{content: '突变筛选结果解释.'}">迈景编号</th>
            <th class="mdui-table-col-numeric" mdui-tooltip="{content: '查看申请单.'}">申请单号</th>
            <th class="mdui-table-col-numeric">样本类型</th>
            <th class="mdui-table-col-numeric">测序结果</th>
            <th class="mdui-table-col-numeric">肿瘤细胞占比(%)</th>
            <th class="mdui-table-col-numeric">状态</th>
        </tr>
        </thead>
        {% for row in report %}
        <tbody>
        <tr>
            <td>
                <label class="mdui-checkbox">
                    <input type="checkbox" class="item" name="check" value={{ row.sam_id }} />
                    <i class="mdui-checkbox-icon"></i>
                </label>
            </td>
            <td>{{ row.sam }}</a></td>
            <td>{{ row.sam_id }}</td>
            <td>{{ row.report.样本类型 }}</td>
            {% if mutation_conut(row.sam_id) %}
            <td><a href="{{ url_for('rep_bp.rep_mut',sample_mg=row.sam_id) }}">{{ mutation_conut(row.sam_id) }}个突变</a></td>
            {% else %}
            <td><a href="{{ url_for('rep_bp.up_mutinfo',sample_mg=row.sam_id) }}" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">add</i></a></td>
            {% endif %}
            <td>{{ row.report.肿瘤细胞含量 }}</td>
            <td>{{ status_name(row.sam_id) }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"><a
            href="{{ url_for('rep_bp.runinfo') }}">上一步</a></button>
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"><a
            href="{{ url_for('rep_bp.muinfo') }}">下一步</a></button>
</div>
{% endblock %}
{% block js %}
<script>
    var all_select = document.querySelector('.select-all');
    var items = document.querySelectorAll('.item');
    all_select.onclick = function () {
        if (all_select.checked) {
            for (var i = 0; i < items.length; i++) {
                items[i].checked = true;
            }
        } else {
            for (var i = 0; i < items.length; i++) {
                items[i].checked = false;
            }
        }
    }
</script>
{% endblock %}