{% extends "base.html" %}
{% block title %}BAM质控信息{% endblock %}
{% block content %}
<div class="table-responsive">

    <table class="responsive-table centered highlight striped">
        <caption style="text-align:left"><h5>bam质控信息</h5></caption>
        <tr>
            <th>迈景编号</th>
            <th>样本编号</th>
            <th>样本类型</th>
            <th>平台</th>
            <th>总reads数</th>
            <th>数据量</th>
            <th>比对率</th>
            <th>PCR重复</th>
            <th>在靶率</th>
            <th>平均深度</th>
            <th>平均深度(去重)</th>
            <th>均一性>0% AD</th>
            <th>均一性>10% AD</th>
            <th>均一性>20% AD</th>
            <th>均一性>50% AD</th>
            <th>均一性>100% AD</th>
            <th>均一性>200% AD</th>
            <th>均一性>300% AD</th>
        </tr>
        {% if status %}
        {% for row in status %}
        <tr>
            <td>{{ row.迈景编号 }}</td>
            <td>{{ row.样本编号 }}</td>
            <td>{{ row.样本类型 }}</td>
            <td>{{ row.平台 }}</td>
            <td>{{ row.总reads数 }}</td>
            <td>{{ row.数据量 }}</td>
            <td>{{ row.比对率 | float_to_percent  }}</td>
            <td>{{ row.PCR重复 | float_to_percent  }}</td>
            <td>{{ row.在靶率 | float_to_percent  }}</td>
            <td>{{ row.平均深度 }}</td>
            <td>{{ row.平均深度_去重 }}</td>
            <td>{{ row.均一性0 | float_to_percent  }}</td>
            <td>{{ row.均一性10 | float_to_percent  }}</td>
            <td>{{ row.均一性20 | float_to_percent  }}</td>
            <td>{{ row.均一性50 | float_to_percent  }}</td>
            <td>{{ row.均一性100 | float_to_percent  }}</td>
            <td>{{ row.均一性200 | float_to_percent  }}</td>
            <td>{{ row.均一性300 | float_to_percent  }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</div>
{% endblock %}