{% extends "base.html" %}
{% block title %}FASTQ质控信息{% endblock %}
{% block content %}
<div class="table-responsive">

    <table class="responsive-table centered highlight striped">
 <caption style="text-align:left">fastq质控信息</caption>
        <tr>
            <th>迈景编号</th>
            <th>Reads数</th>
            <th>Reads占比</th>
            <th>Base数</th>
            <!--<th>临床诊断</th>-->
            <th>Q20</th>
            <th>Q30</th>
            <th>GC比例</th>
            <th>N比例</th>

        </tr>
        {% if status %}
        {% for row in status %}
        <tr>
            <td>{{ row.申请单号 }}</td>
            <td>{{ row.迈景编号 }}</td>
            <td><span>{{ row.检测项目 }}
            </span></td>
            <!--<td>{{ row.临床诊断 }}</td>-->
            <td>{{ row.病理诊断 }}</td>
            <td>{{ row.样本类型 }}</td>
            <td>{{ row.肿瘤细胞含量 }}</td>
        </tr>
        {% endfor %}
        {% else %}
        {% for row in status_all %}
        <tr>
            <td>{{ row.申请单号 }}</td>
            <td>{{ row.迈景编号 }}</td>
            <td>{{ row.检测项目 }}</td>
            <!--<td>{{ row.临床诊断 }}</td>-->
            <td>{{ row.病理诊断 }}</td>
            <td>{{ row.样本类型 }}</td>
            <td>{{ row.肿瘤细胞含量 }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</div>
{% endblock %}