{% extends "base.html" %}
{% block title %}文件上传{% endblock %}
{% block content %}
<div class="col s9">
    <h5>上传样本信息</h5>
    <form method="POST" enctype="multipart/form-data">
        {{ sam_form.hidden_tag() }}
        <div class="file-field input-field s12">
            {{ sam_form.file(multiple="multiple",class="btn") }}
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    <input type="submit" class="waves-effect waves-light btn" value="上传">
    </form>
</div>

<div class="col s9">
    <h5>上传fastq质控信息</h5>
       <form method="POST" enctype="multipart/form-data">
        {{ fastq_form.hidden_tag() }}
        <div class="file-field input-field s12">
            {{ fastq_form.file(multiple="multiple",class="btn") }}
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    <input type="submit" class="waves-effect waves-light btn" value="上传">
    </form>
</div>
<div class="col s9">
    <h5>上传bam质控信息</h5>
       <form method="POST" enctype="multipart/form-data">
        {{ bam_form.hidden_tag() }}
        <div class="file-field input-field s12">
            {{ bam_form.file(multiple="multiple",class="btn") }}
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    <input type="submit" class="waves-effect waves-light btn" value="上传">
    </form>
</div>
{% endblock %}